.centre {
  display: block;
  height: 363px;
  width: 980px;
  text-align: center;
}

#mainlogo {
  height: 92px;
  padding-top: 109px;
  margin-top: 89px;
  width: 272px;
}

.searchbox {
  display: table;
  margin: 0 auto;
  vertical-align: middle;
}

.searcharea {
  width: 484px;
  height: 44px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.searcharea:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.searchtext {
  font-size: 16px;
  width: 403px;
  height: 38px;
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 5px;
  border-width: 0px;
}

.searchvoice {
  padding-top: 3px;
  height: 25px;
  width: 23px;
}
