.topline {
  display: block;
  font-family: arial, sans-serif;
  font-size: 13px;
  height: 30px;
  position: absolute;
  right: 0px;
  width: 980px;
  margin-top: 12px;
}

a.signin:visited {
  text-decoration: none;
  color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a.signin:hover {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
  line-height: 24px;
}

.appicon {
  opacity: 0.55;
}

.appicon:hover {
  opacity: 0.85;
}

.signin {
  width: 43.344px;
  height: 28px;
  background-color: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
  line-height: 28px;
  padding-bottom: 1px;
  margin-right: 30px;
  vertical-align: middle;
}

li a {
  display: block;
  margin-right: 15px;
}

.centre {
  display: block;
  height: 600px;
  min-width: 980px;
  text-align: center;
  position: relative;
}

.picturebox {
  vertical-align: middle;
  margin: auto;
}

#mainlogo {
  height: 92px;
  padding-top: 109px;
  margin-top: 89px;
  width: 272px;
  margin-bottom: 32px;
}

.searchbox {
  display: table;
  margin: auto;
  vertical-align: middle;
}

.searcharea {
  width: 484px;
  height: 44px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: inline;
  float: left;
}

.searcharea:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.searchtext {
  font-size: 16px;
  width: 403px;
  height: 34px;
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 0px;
  border-width: 0px;
  float: left;
  font-family: arial, sans-serif;
}

.searchtext:focus {
  outline-width: 0;
}

.voicearea {
  height: 44px;
  width: 56px;
  display: inline;
  float: right;
  border-width: 0;
}

.searchvoice {
  padding-top: 5px;
  height: 25px;
  width: 23px;
}

.searchbuttons {
  padding-top: 18px;
  width: 487px;
  height: 58px;
  margin: auto;
  display: table;
}

.googlebutton {
  width: 121.750px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(242, 242, 242);
  color: rgb(117, 117, 117);
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0px;
  border-color: rgb(242, 242, 242);
  margin: 11px 4px 11px 4px;
}

.luckybutton {
  width: 142.580px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgb(242, 242, 242);
  color: rgb(117, 117, 117);
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  border-radius: 0px;
  border-color: rgb(242, 242, 242);
  margin: 11px 4px 11px 4px;
}
